/* make the background of the body white */
body {
    /* move it under the top-bar */
    margin-top: 6em;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* make the background of the top-bar white */
.top-bar {
    /* make it at the top of the page */
    position: fixed;
    top: 0;
    left: -1px;
    /* make it full width */
    width: 100%;
    /* make it 3em high */
    height: 3em;
    background-color: #bebebe;
    color : #000;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.home-link {
    padding: 0.5em;
    background-color: #bebebe;
    color: #000;
    text-decoration: none;
}

.Shape-Royale-link {
    padding: 0.5em;
    background-color: #bebebe;
    color: #000;
    text-decoration: none;
}

.Shape-Royale-link:hover {
    background-color: #000;
    color: #fff;
}

.black-box {
    text-align: left;
    background-color: #464646;
    color: #fff;
    padding: 1em;
    margin: 1em;
    width: 25%;
    min-width: 15em;
    display: inline-block;
    float: left;
}

.change-log {
    text-align: left;
    background-color: #464646;
    color: #fff;
    padding: 1em;
    margin: 1em;
    width: 25%;
    min-width: 15em;
    display: inline-block;
    float: center;
}

.home-link:hover {
    background-color: #000;
    color: #fff;
}

.about-shape-royale-box {
    text-align: left;
    background-color: #464646;
    color: #fff;
    padding: 1em;
    margin: 1em;
    width: 25%;
    min-width: 15em;
    display: inline-block;
    list-style-type: none;
    float: right;
}