body{
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: blue;
    text-align: center;
}

/* center the bullet points */
ul {
    list-style-position: inside;
}

/* center the bullet points */
ol {
    list-style-position: inside;
}

/* center the bullet points */
li {
    list-style-position: inside;
}

body {
    background-color: rgba(200, 0, 200, 0.5);
}